* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-green: #708066;
}

body {
  font-family: "poppins", sans-serif;
  height: 100dvh;
  align-content: center;
  justify-items: center;
  background-color: #212121;
}

h1 {
  color: #f0db4f;
  font-size: 3rem;
  margin-top: -40px;
}

.container {
  justify-items: center;
  align-content: center;
  background-color: rgba($color: #313131, $alpha: 0.2);
  border: 2px solid rgba(255,255,255,0.8);
  height: fit-content;
  padding: 30px;
  margin: 30px 0px;
  text-align: center;
  border-radius: 4px;
  color: #f6f9f6;
  form {
    width: 100%;
    height: 100%;
  }
}

#btn-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  width: fit-content;
  justify-self: center;
  margin: 20px 0px;
}

fieldset {
  border: none;
}

#retrn-resposta {
  font-size: 2rem;
}

.radio-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio-input * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.radio-input label {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0px 20px;
  width: 220px;
  cursor: pointer;
  height: 50px;
  position: relative;
  &:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 45px;
    z-index: -1;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-radius: 10px;
    border: 2px solid transparent;
    &::before {
      transition: all 0.2s ease;
      background-color: #2a2e3c;
    }
  }
  &:has(input:checked)::before {
    background-color: #2d3750;
    border-color: #435dd8;
    height: 50px;
  }
  .text {
    color: #fff;
  }
  input[type="radio"] {
    background-color: #202030;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:checked {
      background-color: #435dd8;
      -webkit-animation: puls 0.7s forwards;
      animation: pulse 0.7s forwards;
    }
    :checked {
      transform: scale(1);
      &:before {
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
        background-color: #fff;
        transform: scale(0);
      }
    }
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

/* From Uiverse.io by nazar-gavrylyk */
.radio-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio-input * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.radio-input label {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0px 20px;
  width: 220px;
  cursor: pointer;
  height: 50px;
  position: relative;
}

.radio-input label::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 45px;
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 10px;
  border: 2px solid transparent;
}
.radio-input label:hover::before {
  transition: all 0.2s ease;
  background-color: #2a2e3c;
}

.radio-input .label:has(input:checked)::before {
  background-color: #2d3750;
  border-color: #435dd8;
  height: 50px;
}
.radio-input .label .text {
  color: #fff;
}

.radio-input .label input[type="radio"] {
  background-color: #202030;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.radio-input .label input[type="radio"]:checked {
  background-color: #435dd8;
  -webkit-animation: puls 0.7s forwards;
  animation: pulse 0.7s forwards;
}

.radio-input .label input[type="radio"]:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: #fff;
  transform: scale(0);
}

.radio-input .label input[type="radio"]:checked::before {
  transform: scale(1);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

#submit {
  margin-top: 20px;
  align-items: center;
  justify-self: center;
  justify-items: center;
  cursor: pointer;
  width: 220px;
  height: 45px;
  background-color: #5369db;
  border-radius: 10px;
  border: none;
  color: #f6f9f6;
  &:hover {
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border: 2px solid transparent;
    background-color: #435dd8;
    border-color: #5369db;
  }
}
